* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

